<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <meta charset="utf-8">
    <title>__cowsay-client__</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="bundle.css" />
  </head>
  <body>
    <main ng-controller="CowsayController">
      <form ng-submit="say()">
        <label for="cowsay-text">Make the Cow Say Something</label>
        <input type="cowsay-text" text="text" ng-model="cowsayText">
        <select name="cowsayFile" id="cowsayFile" ng-model="cowsayFile">
          <option ng-repeat="cow in cowFiles" value="{{cow}}">{{ cow }}</option>
        </select>
        <button type="cowsay-button" name="cowsay-button" ng-click="finalize(cowsayText, cowsayFile)">Finalize Cow</button>
        <button type="reset-button" name="cowsay-reset" ng-click="resetCow()">Reset Cow</button>
      </form>
      <pre class="live">{{ say() }}</pre>
      <pre class="final">{{ finalCow }}</pre>
    </main>
  </body>
</html>
