// define site color theme
// @font-face {
//   font-family: Ailerons;
//   src: url(fonts/Ailerons-Typeface.otf);
// }

$app-background: #7D9998;
$app-blue: #40CCC8;
$app-green: #69FFA6;
$app-lightPink: #FFA9C1;
$app-darkPink: #CC40AD;
