@import "vendor/normalize.css";
@import "_theme.scss";

body {
  margin: 5px;
}

label {
  font-size: 2em;
}

pre.live {
  color: $app-pink
}

pre.final {
  color: $app-darkTeal;
}

button {
  border-color: $app-darkTeal;
  color: $app-darkTeal;
  border-radius: 5px;
  padding: 1.5%;
  margin: 5px;
  border-width: thin;
  border-style: solid;
  background-color: #ffffff;
}

button:hover {
  background-color: $app-teal;
  color: #ffffff;
}
