//these imports work just like a require statement//
@import 'vendor/normalize.css';
@import '_theme.scss';

body {
  background-color: $app-red;
};

h1 {
  color: $app-purple;
}

pre {
  background-color: $app-lime;
}
